* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Alegreya", serif;
}

#container {
  display: flex;
  opacity: 0.1;
  height: 100vh;
}

.fa-bars {
  position: absolute;
  display: none;
  top: 25px;
  left: 20px;
  font-size: 20px;
  cursor: pointer;
}

.fa-times {
  align-self: center;
  color: #c0c5ce;
  font-size: 20px;
  display: none;
  cursor: pointer;
}

.toggle {
  display: block !important;
}

/* Room styles */
.rooms {
  display: block;
  width: 20%;
  height: 100vh;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #343d46;
}

.room-title-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.rooms-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #c0c5ce;
}

.room {
  padding: 30px;
  font-size: 20px;
  color: #c0c5ce;
}

.room:hover {
  background: #485058;
}

.fa-comment-dots,
.fa-gamepad,
.fa-code,
.fa-music {
  padding-right: 10px;
  color: #c0c5ce;
}

.button {
  font-family: "Alegreya", serif;
  background: #c0c5ce;
  border: none;
  font-size: 16px;
}

.button:disabled {
  opacity: 0.3;
}

/* Chat styles */
#chat {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 20px 40px;
  background: #f7f7f7;
}

.chat-title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 30px;
  color: #343d46;
}

input[name="username"] {
  padding: 0 10px;
}

.chat-window {
  margin-top: 10px;
  flex-grow: 1;
  height: 0px;
  overflow: auto;
}

/* Input styles */
.send-message {
  display: flex;
  width: 100%;
  padding-top: 10px;
}

.input-container {
  width: 85%;
}

input[name="message"] {
  padding: 12px 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}

.button-container {
  width: 15%;
}

.button {
  cursor: pointer;
}

.button-group {
  padding-top: 10px;
}

#send {
  text-align: center;
  height: 100%;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background: #343d46;
  color: #fff;
}

#output p {
  padding: 14px 0px;
  border-bottom: 1px solid #e9e9e9;
  color: #343d46;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: #7289da;
  font-weight: bold;
}

.user-count-container {
  float: right;
}

.user-count {
  display: inline-block;
}

.fa-crown {
  color: #adad42;
}

/* Modal styles */
#modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.modal-title {
  padding-bottom: 10px;
  font-size: 20px;
  color: #343d46;
}

input[name="username"] {
  padding: 12px 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
}

.modal-button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background: #343d46;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
}

/* Media queries */
@media only screen and (max-width: 1020px) {
  .fa-bars {
    display: block;
  }
  .rooms {
    display: none;
    width: 60%;
    position: fixed;
    height: 100vh;
  }
  .fa-times {
    display: block;
  }
  #chat {
    width: 100%;
  }
  .chat-title {
    padding-left: 15px;
  }
  #modal {
    width: 85%;
  }
}

@media only screen and (max-width: 450px) {
  #chat {
    padding: 20px;
  }
  #send {
    font-size: 12px;
  }
}
