* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Alegreya", serif;
}

#container {
  display: flex;
}

/* Room styles */
#rooms {
  width: 25%;
  height: 100vh;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #343d46;
}

.rooms-title {
  text-align: center;
  padding: 20px;
  font-weight: 700;
  font-size: 30px;
  color: #c0c5ce;
}

.room {
  padding: 30px;
  font-size: 20px;
  color: #c0c5ce;
}

.room:hover {
  background: #485058;
}

.fa-comment-dots,
.fa-gamepad,
.fa-code,
.fa-music {
  padding-right: 10px;
  color: #c0c5ce;
}

.button {
  font-family: "Alegreya", serif;
  background: #c0c5ce;
  border: none;
  font-size: 16px;
}

.button:disabled {
  opacity: 0.3;
}

/* Chat styles */
#chat {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding: 20px 40px;
  background: #f7f7f7;
}

.chat-title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 30px;
  color: #343d46;
}

input[name="username"] {
  padding: 0 10px;
}

.chat-window {
  padding-top: 10px;
  flex-grow: 1;
  height: 0px;
  overflow: auto;
}

/* Input styles */
.send-message {
  display: flex;
  width: 100%;
  padding-top: 10px;
}

.input-container {
  width: 85%;
}

input[name="message"] {
  padding: 12px 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
}

.button-container {
  width: 15%;
}

.button {
  cursor: pointer;
}

#send {
  text-align: center;
  height: 100%;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background: #343d46;
  color: #fff;
}

#output p {
  padding: 14px 0px;
  margin: 0 20px;
  border-bottom: 1px solid #e9e9e9;
  color: #343d46;
}

#feedback p {
  color: #aaa;
  padding: 14px 0px;
  margin: 0 20px;
}

#output strong {
  color: #7289da;
  font-weight: bold;
}

.user-count-container {
  float: right;
}

.user-count {
  display: inline-block;
}

.fa-crown {
  color: #adad42;
}
